<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.phonegap.sdk.category.phonegap"
            name="PhoneGap">
      </category>
      <wizard
            category="com.phonegap.sdk.category.phonegap"
            class="com.phonegap.sdk.wizards.NewPhoneGapProjectWizard"
            finalPerspective="com.phonegap.sdk.perspective"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.wizard.new"
            name="PhoneGap Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.phonegap.sdk.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.navigator"
            name="PhoneGap Navigator">
      </view>
      <category
            id="com.phonegap.sdk.navigator.category"
            name="PhoneGap Projects">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.phonegap.sdk.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="com.phonegap.sdk.navigator.filter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.phonegap.sdk.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.phonegap.sdk.perspectives.PhoneGapPerspective"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.perspective"
            name="PhoneGap">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.phonegap.sdk.perspective">
         <view
               id="com.phonegap.sdk.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <newWizardShortcut
               id="com.phonegap.sdk.wizard.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.phonegap.sdk.projectNature"
         name="PhoneGap Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.phonegap.sdk.natures.PhoneGapProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.phonegap.sdk.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/phonegap16.png"
                  label="New PhoneGap Project"
                  style="push"
                  tooltip="New PhoneGap Project">
               <parameter
                     name="newWizardId"
                     value="com.phonegap.sdk.wizard.new">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Filters PhoneGap projects only"
            id="com.phonegap.sdk.navigator.filter"
            name="PhoneGap Navigator Filter">
         <filterExpression>
            <not>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.phonegap.sdk.projectNature">
               </test>
            </not>
         </filterExpression>
      </commonFilter>
      <commonWizard
            type="new"
            wizardId="com.phonegap.sdk.wizard.new">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/phonegap_overlay.png"
            id="com.phonegap.sdk.natureImage"
            natureId="com.phonegap.sdk.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.phonegap.sdk"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.phonegap.sdk.actions.PhoneGapBuildAction"
               icon="icons/buildbot_menu_icon.ico"
               id="com.phonegap.sdk.actions.build"
               label="Build">
         </action>
         <filter
               name="projectNature"
               value="com.phonegap.sdk.projectNature">
         </filter>
      </objectContribution>
   </extension>

</plugin>
