<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.phonegap.sdk.category.phonegap"
            name="PhoneGap">
      </category>
      <wizard
            category="com.phonegap.sdk.category.phonegap"
            class="com.phonegap.sdk.wizards.NewPhoneGapProjectWizard"
            finalPerspective="com.phonegap.sdk.perspective"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.wizard.new"
            name="PhoneGap Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.phonegap.sdk.navigator.category"
            class="com.phonegap.sdk.navigator.PhoneGapNavigator"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.navigator"
            name="PhoneGap Navigator">
      </view>
      <category
            id="com.phonegap.sdk.navigator.category"
            name="PhoneGap Projects">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.phonegap.sdk.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.phonegap.sdk.navigator">
         <includes>
            <contentExtension
                  pattern="com.phonegap.sdk.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.phonegap.sdk.perspectives.PhoneGapPerspective"
            icon="icons/phonegap16.png"
            id="com.phonegap.sdk.perspective"
            name="PhoneGap">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.phonegap.sdk.perspective">
         <view
               id="com.phonegap.sdk.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <newWizardShortcut
               id="com.phonegap.sdk.wizard.new">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.phonegap.sdk.projectNature"
         name="PhoneGap Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.phonegap.sdk.natures.PhoneGapProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.phonegap.sdk.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/phonegap16.png"
                  label="New PhoneGap Project"
                  style="push"
                  tooltip="New PhoneGap Project">
               <parameter
                     name="newWizardId"
                     value="com.phonegap.sdk.wizard.new">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.phonegap.sdk.navigator.ContentProvider"
            id="com.phonegap.sdk.navigator.content"
            labelProvider="com.phonegap.sdk.navigator.LabelProvider"
            name="PhoneGap Navigator Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.phonegap.sdk.navigator.PhoneGapProjectWorkbenchRoot">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/phonegap_overlay.png"
            id="com.phonegap.sdk.natureImage"
            natureId="com.phonegap.sdk.projectNature">
      </image>
   </extension>

</plugin>
